
p, h1, h2, h3, span, td, tr, table {
    font-family: sans-serif;
}

/*.card {
            height: 1000px;
        }*/
.jsgrid-grid-body {
    height: 500px;
}

img {
    float: right;
    height: 30px;
    /*       width:60px; */
    padding-left: 14px;
}

#UserName {
    font-size: 25PX;
}
